body {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
/* cover-img */
.honda-info {
    background-color:#264653;
    ;
}
/* modal */
.modal-col{
    background: #E76F51;
/* purchase-button */
}
.bike-collection  {
    color: #E76F51;
    ;
   
}
/* hr-line */
.horizontal-line {
    border: 1px solid #E76F51;
  
}
/* brand-new-bike */
.img-grayscale {
    filter:grayscale(100%);
}
/* reviews */
.clients-head {
    color: #E76F51;
}
span  {
    color: #E76F51; 
}
.user img {
   
    width: 149px;
    height:149px;
}
.star-color {
    color:  #E77C40;

}
.name-color {
    color:  #23A6F0;

}


/* questions */
.frequent-questions img {
    width:431px;
    height: 423px;
}
.bike-head {
    color: #E77C40;
}


